@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
section{
    margin-top: 0px;
    flex: none;
}
.main{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y:hidden;
    background-color: black;
}
.black{
    width: 100%;
    height: 100%;
    background-color: rgb(21, 21, 21);
    color: white;
}
.black #topheading{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#topheading h5{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
}
.black h1{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4vw;
    font-weight: 500;
}

.green{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0;
    background-color: #E5B80B;
}

.white{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0%;
    background-color: black;
}
.navbar{
    position: relative;
    z-index: 100;
}
#nav-color{
    background-color: white;
}
#nav{
    display: flex;
    align-items: center;

    justify-content: space-between;
    /* margin: 2rem 8rem; */
    z-index: 100;
    padding-top: 5px !important;
    padding-bottom: 0 !important;
} 
#nav h1{
    font-size: 30px;
}
#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}
#nav img{
    width: 150px;
    height: 150px;
}
#full{
    height: 100%;
    width: 30%;
    top: 0px;
    right: -30%;
    z-index: 10;
    position: fixed;
    background-color: #E5B80B;
    /* background-color: rgba(255, 255, 255, 0.421); */
    backdrop-filter: blur(10px);
    padding: 130px 80px;
    cursor: pointer;
}
#full a{
    text-decoration: none;
    color: black;
}
#full h4{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
#full i{
    position: absolute;
    display: flex;
    top:35px;
    right: 40px;
    font-size: 25px;
    font-weight: 600;
    background-color: white;
    border-radius:50%;
    padding: 5px;
    color: #000;
}
#signup{
    width: 150px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgb(211, 198, 47);
    color: white;
}
#login{
    width: 130px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color:black;
    color: white;
}
#signup :hover{
    color: white;
}

#line{
    display: block;
    height: 0.6px;
    background-color: rgba(255, 255, 255, 0.592);
    width: 80%;
    margin:auto
}

/* .main{
    padding-top: 10%;
    height: 120vh;
} */
.hero-section{
    margin: 0rem 8rem;
    display: flex;
    justify-content: space-between;
  
}
.hero-img img{
    width: 300px;
    border-radius: 2rem;
    border: 0.3rem solid white;
}
.hero-img{
    display: flex;
    margin-top: 10rem;
    position: relative;
    width: 45%;
}
.hero-img #img1{
    z-index: 1;
}
.hero-img #img2{
    /* z-index: -1; */
    position: absolute;
    top: -10rem;
    left: 14rem;
}
.hero-content{
    margin-top: 4rem;
}

.button-onhover{
    cursor: pointer;
}
.reveal .parent{
    display: inline-block;
    overflow: hidden;
}
.child{
    display: block;
    height: 100%;
}
.hero-content h3{
    font-size: 25px;
}
.hero-content h1{
    margin-top: 2.2rem; 
    margin-bottom: 1.5rem;
     line-height: 70px;
    font-size: 60px;
    border-left: 1px solid white;
    padding-left: 20px;
}
.hero-content p{
    font-size: 20px;
    margin-bottom: 2.5rem;
}
.hero-content button{
    padding: 15px 30px;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    color: #000;
}

.heading{
    width: 100%;
    text-align: center;
}
.heading h1{
    font-size: 50px;
    position: relative;
}
.item-section{
    width: 100vw;
    padding-top: 5rem;
    background-color: floralwhite;
    color: black;
    padding-bottom: 2rem ;
}

.item .product-info{
    background-color: white;
    color: black;
} */

/* loading animation of product */
.item-cont .loader{
  border: 5px solid black; /* Light grey background */
  border-top: 5px solid red; /* Blue spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#p-img1{
    background-image: url(/img/image0.jpeg);
    background-size: cover;
    background-position: center;
}
#p-img2{
    background-image: url(/img/image6.jpeg);
    background-size: cover;
    background-position: center;
}

/* offer section */

.offer-section{
    margin: 7rem 8rem;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 6vw;
}
.offer{
    color: white;
    margin: auto;
    padding-top: 4rem;
}
 #left{
    flex-direction: row-reverse;
}
.content{
    width: 40vw;
}
.offer-section img{
    width: 300px;
    height: 400px;
}
.content h2{
    font-size: 35px;
    padding-bottom: 2rem;
}


.connect{
    width: 100vw;
    background-color: floralwhite;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding:5rem 13rem;
    align-items: center;

}
.button{
    padding: 12px 24px;
    background-color: #E5B80B;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
/* footer */
.footer-cont{
    background-color: #000;
    padding: 4rem 8rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items:start;
    margin-bottom: 2.5rem;
}
.company img{
    width: 100px;
    height: 100px;
    margin: auto;
}
.cust-care h3,.link h3,.social h3{
    padding-bottom: 1.5rem;
    color: #fff;
    font-weight: 800;
}
.cust-care ul li a,.link ul li a,.social ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    
}
.cust-care ul li,.link ul li,.social ul li{
    list-style: none;
    padding-bottom: 10px;
    color: #fff;
}
.line{
    width: 80%;
    background-color: #fff;
    height: 1px;
    margin: auto;
}
.copyright{
    padding-top: 2.5rem;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.rating-cont{
    display: flex;
    flex-direction: column;
    padding: 5rem 8rem;
    padding-bottom: 0px;
    background-color: floralwhite;
    color: #000;
}
.rating{
    /* width: 80vw; */
    display: flex;
    justify-content: space-between;
}
.rating button{
    font-weight: 500;
    border-radius: 30px;
    padding: 15px 30px;
    border: 1px solid black;
    background-color: floralwhite;
    font-size: 15px;
}
.rating h1{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 1.2rem;
}
.rating-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.r-img-cont{
    display: flex;
    gap: 8px;
    align-items: center;
}
.r-img-cont span{
    font-weight: 600;
}
.rating p{
    font-size: 15px;
    font-weight: 500;
}
.review{
    width: 30vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(33, 33, 33);
}
.review p{
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.review h4{
    padding-left: 50px;
    padding-bottom: 30px;
}
.review img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



@media screen and (max-width:1200px){
    .hero-section{
        margin: 10rem 5rem;
        justify-content:center;
        gap: 5vw;
    }
}

@media screen and (max-width: 1150px){
    .hero-section{
        margin: 10rem 2rem;
    }
}
@media screen and (max-width: 1100px){
    .hero-section{
        gap: 3vw;
    }
    .hero-content h1{
        font-size: 50px;
    }
}
@media screen and (max-width: 1050px){
    .hero-section{
        margin: 8rem 2rem;
        align-items: center;
    }
    .hero-img img{
        width: 250px;
    }
}
@media screen and (max-width: 1000px){
    .hero-section{
        margin: 6rem 2rem;
        gap: 5vw;
    }
    .hero-img img{
        width: 225px;
    }
    .hero-img #img2 {
        left: 10rem;
    }
}

@media screen and (max-width: 870px){
    .hero-content h1{
        font-size: 40px;
    }
    .hero-content h3{
        font-size: 20px;
    }
    .hero-content p{
        font-size: 16px;
    }
    .hero-content button{
        padding: 10px 20px;
        font-size: 16px;
    }
}
@media screen and (max-width: 800px){
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-img {
        margin-left: 25%;
        display: flex;
        width: 100%;
    }
    .hero-img img{
        width: 350px;
    }
    .hero-img #img2{
        left: 15rem;
    }
    .reveal br{
        display: none;
    }
    .hero-content{
        text-align: center;
    }
    .hero-content h1{
        margin-top: 1.2rem;
        margin-bottom: 0px;
    }
    .hero-content p{
        margin-bottom: 1.6rem;
    }
}
/* @media screen and (max-width: 750px){
    .item{
        width: 90vw;
        gap:2rem
    }
} */
@media screen and (max-width: 730px){
    .hero-img img{
        width: 300px;
    }
    .hero-img #img2{
        left: 14rem;
    }
    .hero-content{
        margin-top: 2rem;
    }
}
@media screen and (max-width: 650px){
    .hero-img {
        margin-left: 20%;
        
    }
    .hero-img img{
        width: 270px;
    }
}
@media screen and (max-width: 600px){
    #nav img{
        width: 70px;
        height: 70px;
    }
    .hero-section{
        margin: 6rem 1rem;
    }
    .hero-img {
        margin-left: 10vw;
    }
    .hero-img #img2{
        left: 13rem;
    }
}
@media screen and (max-width: 550px){
    .hero-img img{
        width: 240px;
    }
    /* .item{
        flex-direction: column;
    }
    .product-img{
        width: auto;
        height: 250px;
    }
    .product-info{
        width: 100%;
    } */
}
@media screen and (max-width: 515px){
    .hero-img #img2{
        left: 11rem;
    }
}
@media screen and (max-width: 470px){
    .hero-img img{
        width: 200px;
    }
}
@media screen and (max-width: 430px){
    .hero-img #img2{
        left: 9rem;
    }
}
@media screen and (max-width:400px){
    .hero-img #img2{
        top: -7rem;
    }
    .hero-img{
        margin-top: 6rem;
    }
    .hero-img img{
        width: 180px;
    }
}
@media screen and (max-width: 380px){
    .hero-img #img2{
        left: 8rem;
    }
}
/*  */
@media screen and (max-width: 970px){
    .offer-section{
        margin: 7rem 4rem;
        justify-content: space-between;
    }
}
@media screen and (max-width: 750px){
    .offer-section img{
        width: 250px;
        height: 350px;
    }
}
@media screen and (max-width: 700px){
    .content h2{
        font-size: 30px;
    }
    .content p{
        font-size: 14px;
    }
}
@media screen and (max-width: 650px){
    .connect{
        width: 100%;
    }
    .offer-section{
        margin: 7rem 2rem;
    }
}
@media screen and (max-width: 600px){
    .offer-section{
        flex-direction: column;
        text-align: center;
    }
    .offer-section img{
        width: 200px;
        height: 300px;
    }
    #left{
        flex-direction: column;
    }
    .content{
        width: 100%;
    }
    .content h2{
        font-size: 25px;
        padding-bottom: 1rem;
    }
}
@media screen and (max-width: 520px){
    .offer-section img{
        height: 250px;
    }
}
@media screen and (max-width: 450px){
    .offer-section{
        margin: 5rem 2rem;
    }
}


/* reviews */
@media screen and (max-width: 1150px){
    .review p{
        font-size: 14px;
    }
}
@media screen and (max-width: 900px){
    .rating-cont{
        padding: 5rem 4rem;
    }
    .review{
        width: 40vw;
    }
}
@media screen and (max-width: 800px){
    .rating-cont{
        padding: 5rem 2rem;
    }
}
@media screen and (max-width: 600px){
    .review{
        width: 100%;
    }
    .rating-cont{
        padding: 5rem 4rem;
    }
}

@media screen and (max-width: 500px){
    .rating-cont{
        padding: 5rem 2rem;
    }
}
/* connect */
@media screen and (max-width: 1150px){
    .connect{
        padding: 5rem 8rem;
    }
}
@media screen and (max-width: 900px){
    .connect{
        padding: 5rem 4rem;
    }
}
@media screen and (max-width: 600px){
    .connect{
        padding: 3rem 2rem;
    }
    .connect h1{
        font-size: 24px;
    }
}
@media screen and (max-width: 430px){
    .button{
        padding: 10px 20px;
        font-size: 14px;
    }
    .connect h1{
        font-size: 18px;
    }
}
@media screen and (max-width: 400px){
    .button{
        padding: 8px 16px;
        font-size: 14px;
    }
    .connect h1{
        font-size: 16px;
    }
}


/* footer */

@media screen and (max-width: 1000px){
    .footer .company h1{
        font-size: 30px;
    }
    .footer-cont{
        padding: 4rem 6rem;
    }
}
@media screen and (max-width: 900px){
    .company,.cust-care,.link,.social{
     width: 300px;
    }
    .footer{
     flex-wrap: wrap;
     row-gap: 3rem;
     text-align: center;
    }
 }
 @media screen and (max-width: 810px){
    .company,.cust-care,.link,.social{
        width: 220px;
       }
}
@media screen and (max-width: 650px){
    .company,.cust-care,.link,.social{
        width: 160px;
       }
}
@media screen and (max-width: 550px){
    .company,.cust-care,.link,.social{
        width: 100%;
       }
}

/* product */
@media screen and (max-width: 550px){
    .product-img {
        width: 220px;
        height: 230px;
    }
    .item{
        width: 220px;
    }
}
@media screen and (max-width: 500px){
    .product-img {
        width: 200px;
        height: 210px;
    }
    .item{
        width: 200px;
    }
    .product-info p {
        padding-bottom: 10px;
    }
    .product-info h3 {
        padding: 8px 0px;
    }
}
@media screen and (max-width: 450px){
    .heading h1{
        font-size: 40px;
    }
    .item-section{
        display: flex;
        flex-direction: column;
    }
    .item-cont {
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10vw;
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
    .item{
        width: 80vw;
    }
    .product-img{
        width: auto;
        height: 230px;
    }
    .product-info p{
        font-size: 14px;
    }

}
@media screen and (max-width: 350px){
    .product-img{
        height: 230px;
    }
}



/* nav */
/* @media screen and (max-width:1150px){
    #nav{
        margin: 2rem 4rem;
    }
} */
@media screen and (max-width:750px){
    #full h4{
        font-size: 20px;
    }
    #full{
        padding: 120px 40px;
    }
}
@media screen and (max-width:600px){
    #full{
        width: 50%;
        right: -50%;
    }
}
@media screen and (max-width: 500px){
    #nav h1{
        font-size: 25px;
    }
}
@media screen and (max-width:480px){
    #full{
        width: 60%;
        right: -60%;
   }
   #signup{
    width: 100px;
   }
   #login{
    width: 100px;
   }
   #full i {
    right: 20px;
   }
}
@media screen and (max-width:400px){
    /* #nav{
        padding: 1rem 2rem;
    } */
    .hero-img img{
        border: 0.1rem solid white;
        border-radius: 1.5rem;
    }
    .heading h1{
        font-size: 29px;
    }
    .rating h1{
        font-size: 22px;
    }
    .rating button{
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 400;
    }
}

